<script>
  Chartkick.configure({mapsApiKey: "AIzaSyDbk1ilwyqw6j5gx4QsQA-LpRLNn-IbljA"})
</script>

<div class="col-md-12">
  <%= pie_chart db_style_country_pie(@search_country)%>
  <%= geo_chart db_style_country_pie(@search_country)%>
</div>
