<%if @Search%>
  <div class="table-responsive">
    <table class="table table-bordered table-stripped table-hover ">
      <thead class="thead-inverse">
        <tr>
        </tr>
        <tbody>
          <%@Search.each do |result|%>
            <tr>
              <% @attr.each do |a|%>
                <td>
                  <%= result.send(a.to_sym)%>
                </td>
              <%end%>
            </tr>
          </tbody>
        <%end%>
      </table>
    </div>
  <%end%>
