<%if @Search%>
  <div class="table-responsive">
    <table class="table table-bordered table-stripped table-hover ">
      <thead class="thead-inverse">
          <tr>
            <% @attr.each do |a|%>
              <th>
                <%= a.to_sym.to_s.humanize %>
              </th>
            <%end%>
            <th>
              Edit
            </th>
          </tr>
      </thead>
        <tbody>
          <%@Search.each do |result|%>
            <tr>
              <% @attr.each do |a|%>
                <td>
                  <%= result.send(a.to_sym)%>
                </td>
              <%end%>
              <%if current_user && current_user.is_admin %>
                <td><%= link_to "Edit", edit_search_path(result), class: "btn btn-primary" %></td>
              <%end%>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  <%end%>
