<div class="container">
  <div class="col-md-4">
    <ul class="list-group">
      <%if @Search%>
        <% @attr.each do |a|%>
          <li class="list-group-item">
            <%= @Search.send(a.to_sym)%>
          </li>
        <%end%>
      <%end%>
    </ul>
  </div>
  <div class="col-md-8">
    <%= line_chart record_graph(@threat_history)%>
  </div>
</div>
