<div class="container">
  <div class="col-md-4">
    <ul class="list-group">
      <%if @Search%>
        <% @attr.each do |a|%>
          <td>
            <%= result.send(a.to_sym)%>
          </td>
        <%end%>
        <%if current_user && current_user.is_admin %>
          <li class="list-group-item"><%= link_to "Edit", edit_search_path(@Search), class: "btn btn-primary" %></li>
        <%end%>
      <%end%>
    </ul>
  </div>
  <div class="col-md-8">
    <%= line_chart record_graph(@threat_history)%>
  </div>
</div>
